@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,800;1,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,800;1,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

p {
  font-family: "Merriweather", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  max-width: 1600px;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

form label {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: "Poppins", sans-serif;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

header .header-icones {
  display: none;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-top {
  text-align: center;
  width: 90%;
  margin-bottom: 70px;
}
header p {
  font-size: 0.8rem;
}
header i {
  font-size: 0.8rem;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  padding: 15px;
}
header .header-bottom {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
header li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header li:hover {
  color: black;
  background-color: white;
}

/************************** MEDIA QUERIES **************************/
@media (min-width: 550px) {
  header ul {
    gap: 50px;
  }
}
@media (min-width: 768px) {
  /* Styles pour tablette et plus */
  header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  header .header-top i {
    margin-top: 20px;
    width: 2%;
    font-size: 1rem;
  }
  header .header-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-top-container h1 {
    width: 60%;
    font-size: 2.5rem;
  }
  header .header-top-container p {
    width: 100%;
    font-size: 0.9rem;
  }
  header .header-bottom nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
  }
  header .header-bottom ul {
    background-color: transparent;
    margin-top: 0;
  }
  header .header-bottom ul li {
    padding: 20px;
  }
  header .header-bottom .header-icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-bottom .header-icones i {
    border: none;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .header-bottom .header-icones i:hover {
    cursor: pointer;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@media (min-width: 1200px) {
  header .header-top i {
    font-size: 1.5rem;
  }
  header .header-bottom i {
    font-size: 1.2rem;
  }
}
main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .section1-container {
  width: 90%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section1-top-container {
  width: 70%;
}
main h1,
main p {
  color: black;
}
main h1 {
  margin: 0;
  font-size: 1.3rem;
}
main .text1-section1 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
main p.text1-section1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  white-space: nowrap;
}
main p.text1-section1::before, main p.text1-section1::after {
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background-color: black;
  opacity: 0.2;
}
main p.text1-section1::before {
  margin-right: 10px;
}
main p.text1-section1::after {
  margin-left: 10px;
}
main .text2-section-1 {
  font-style: italic;
  line-height: 40px;
  font-size: 0.7rem;
}
main .section1-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}
main .img-section1 {
  background: url(/images/pic01.jpg) center center/cover;
  height: 150px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
main .section1-bottom-container button {
  margin-bottom: 50px;
}
main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .section2-container {
  width: 90%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main .section2-container::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: black;
  width: 100%;
  opacity: 0.2;
}
main .section2-top-container {
  width: 70%;
}
main .section2-top-container h2 {
  color: black;
  font-size: 1.3rem;
}
main .section2-top-container button {
  margin-top: 20px;
  margin-bottom: 100px;
}
main .top-img-section2 {
  background: url(/images/pic02.jpg) center center/cover;
  height: 150px;
  width: 100%;
}
main .text1-section2 {
  font-size: 0.8rem;
}
main .text2-section2 {
  font-size: 0.7rem;
  line-height: 25px;
}
main .section2-bottom-container {
  width: 70%;
}
main .section2-bottom-container h2 {
  color: black;
  font-size: 1.3rem;
}
main .section2-bottom-container button {
  margin-top: 20px;
  margin-bottom: 40px;
}
main .bottom-img-section2 {
  background: url(/images/pic03.jpg) center center/cover;
  width: 100%;
  height: 150px;
}

/************************** MEDIA QUERIES **************************/
@media (min-width: 768px) {
  .section1-bottom-container .img-section1 {
    height: 300px;
    margin-top: 0;
  }
  .section2 .section2-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-top: 30px;
    position: relative;
  }
  .section2 .section2-container::before {
    top: 0;
  }
  .section2 .section2-container::after {
    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.2;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section2 .section2-container button {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  /* Styles pour desktop */
  .section1-container .section1-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .section1-container .section1-top-container h1 {
    font-size: 2rem;
    width: 55%;
  }
  .section1-container .section1-top-container p {
    width: 80%;
  }
  .section1-container .section1-bottom-container .img-section1 {
    height: 400px;
    width: 80%;
    margin-top: 10px;
  }
  .section2-container .section2-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-container .section2-top-container h2 {
    width: 70%;
  }
  .section2-container .section2-top-container .top-img-section2 {
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section2-container .section2-top-container p {
    text-align: left;
  }
  .section2-container .section2-bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-container .section2-bottom-container h2 {
    width: 70%;
  }
  .section2-container .section2-bottom-container .bottom-img-section2 {
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section2-container .section2-bottom-container p {
    text-align: left;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
footer .footer-container {
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
footer .form-container {
  width: 100%;
  margin-top: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .form-container::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  height: 1px;
  background-color: black;
  opacity: 0.2;
  width: 100%;
}
footer form {
  width: 70%;
}
footer form input {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 20px;
}
footer form textarea {
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
footer form button {
  margin-bottom: 30px;
}
footer .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
footer .footer-bottom-container .infos-contact:not(:last-child) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
footer .footer-bottom-container .infos-contact::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  background-color: black;
  opacity: 0.2;
  width: 100%;
}
footer .footer-bottom-container .infos-contact1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-bottom-container .infos-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 70%;
}
footer .footer-bottom-container .div-h3 {
  width: 30%;
}
footer .footer-bottom-container h3 {
  color: black;
  font-size: 0.6rem;
}
footer .footer-bottom-container p {
  color: black;
  font-size: 0.45rem;
}
footer .footer-bottom-container i {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  padding: 5px;
}

/************************** MEDIA QUERIES **************************/
@media (min-width: 768px) {
  footer .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
  }
  footer .footer-container::after {
    position: absolute;
    content: "";
    width: 1px;
    background-color: black;
    opacity: 0.2;
    left: 50%;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  footer .footer-container .form-container button {
    margin-top: 20px;
  }
  footer .footer-container .footer-bottom-container {
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .footer-bottom-container .infos-contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-container .footer-bottom-container .infos-contact::after {
    bottom: -30px;
  }
  footer .footer-container .footer-bottom-container .infos-contact-container {
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 30px;
  }
  footer .footer-container .footer-bottom-container .infos-contact1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  footer .infos-contact-container .div-h3 h3 {
    font-size: 0.7rem;
  }
  footer .infos-contact-container .div-p p {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */