@use '../base/variables';
@use '../base/mixins';

header {

    .header-icones {
        display: none;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-top {
        text-align: center;
        width: 90%;
        margin-bottom: 70px;
    }

    p {
        font-size: 0.8rem;
    }

    i {
        font-size: 0.8rem;
        border-radius: 50%;
        color: white;
        border: 1px solid white;
        padding: 15px;
    }

    .header-bottom {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    li {
        list-style: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}

/************************** MEDIA QUERIES **************************/

@media(min-width: 550px) {

    header {

        ul {
            gap: 50px;
        }
    }
}


@media(min-width: 768px) {

    /* Styles pour tablette et plus */
    header {

        .header-top {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            i {
                margin-top: 20px;
                width: 2%;
                font-size: 1rem;
            }
        }

        .header-top-container {
            display: flex;
            align-items: center;
            flex-direction: column;

            h1 {
                width: 60%;
                font-size: 2.5rem;
            }

            p {
                width: 100%;
                font-size: 0.9rem;
            }
        }

        .header-bottom {

            nav {
                justify-content: space-between;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.2);
            }

            ul {
                background-color: transparent;
                margin-top: 0;

                li {
                    padding: 20px;
                }
            }

            .header-icones {
                display: flex;

                i {
                    border: none;
                    transition: transform 0.2s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(2);
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    header {

        .header-top {

            i {
                font-size: 1.5rem;
            }
        }

        .header-bottom {

            i {
                font-size: 1.2rem;
            }
        }
    }
}