@use 'variables';

body {
    background: url(../images/bg.jpg) fixed center / cover;
    max-width: 1600px;
}

li {
    font-family: variables.$li-font;
    font-weight: bold;
    color: variables.$bg-color;
}

form label {
    font-family: variables.$font-primary;
    font-size: 0.7rem;
}