@use 'variables';

h1,
h2,
h3,
h4 {
    font-family: variables.$font-primary;
    text-transform: uppercase;
    color: variables.$bg-color;
}

p {
    font-family: variables.$font-secondary;
    color: variables.$bg-color;
}