@use 'fonts';

// === Fonts ===
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Merriweather', sans-serif;
$button-font: 'Poppins', sans-serif;
$li-font: 'Poppins', sans-serif;


// === Colors ===
$bg-color: rgb(255, 255, 255);
$font-color: black;