<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  integrity="sha512-... (clé complète)"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
    <link rel="stylesheet" href="/scss/style.css">
    <title>La Montagne</title>
</head>
<body>
    <header>
        <div class="header-container">
<div class="header-top">
    <div class="header-top-container">
<h1>La montagne ça vous gagne</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa illo dicta.</p>
</div>
<i class="fa-solid fa-arrow-down"></i>
</div>

<div class="header-bottom">
<nav>
    <div>
        <ul>
            <li>this is massively</li>
            <li>generic page</li>
            <li>elements reference</li>
        </ul>
    </div>

    <!-- Ce bloc n'existe que en desktop -->
    <div class="header-icones">
       <i class="fa-brands fa-twitter"></i>
       <i class="fa-brands fa-facebook"></i>
       <i class="fa-brands fa-instagram"></i>
       <i class="fa-brands fa-github"></i>
    </div>
   <!-- Ce bloc n'existe que en desktop -->
</nav>
</div>
        </div>
    </header>

    <main class="section">
<section class="section1">
<div class="section1-container">

    <div class="section1-top-container">
        <p class="text1-section1">April 25, 2017</p>
        <h1>and this is a massive headlines</h1>
        <p class="text2-section-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati natus consequatur quos, ullam iste perferendis in odit eaque ea ratione atque optio rem cumque magni deserunt? Vitae eveniet quo inventore!</p>
    </div>

    
    <div class="section1-bottom-container">
    <div class="img-section1"></div>
    <button>FULL STORY</button>
</div>
</div>
</section>

<section class="section2">
    <div class="section2-container">


        <div class="section2-top-container">
<p class="text1-section2">April 25, 2017</p>
<h2>Sed magna Ipsum Faucibus</h2>
<div class="top-img-section2"></div>
<p class="text2-section2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quis deleniti quasi similique asperiores sapiente dolor, ipsum reiciendis ea, esse quidem! Quaerat modi cumque rerum saepe ea. Earum, dicta nobis!</p>
<button>FULL STORY</button>
        </div>


        <div class="section2-bottom-container">
<p class="text1-section2">April 25, 2017</p>
<h2>Primis eget imperdiet lorem</h2>
<div class="bottom-img-section2"></div>
<p class="text2-section2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quis deleniti quasi similique asperiores sapiente dolor, ipsum reiciendis ea, esse quidem! Quaerat modi cumque rerum saepe ea. Earum, dicta nobis!</p>
<button>FULL STORY</button>
        </div>
    </div>
</section>
</main>

<footer>
    <div class="footer-container">
    <div class="form-container">
<form>
    <div class="form-group">
      <label for="name">NAME</label>
      <input type="text" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="email">EMAIL</label>
      <input type="email" id="email" name="email">
    </div>

    <div class="form-group">
      <label for="message">MESSAGE</label>
      <textarea id="message" name="message" rows="6"></textarea>
    </div>

    <button type="submit">ENVOYER</button>
  </form>
    </div>


    <div class="footer-bottom-container">

        <div class="infos-contact">
<div class="infos-contact-container">
    <div class="div-h3">
<h3> Adresse</h3>
</div>

<div class="div-p">
<p>1234 Somewehere Road #6756887<br>Nashville,Tn 00000-000</p>
</div>
</div>
</div>


<div class="infos-contact">
<div class="infos-contact-container">
    <div class="div-h3">
    <h3>Téléphone</h3>
    </div>

    <div class="div-p">
    <p>000-0000</p>
    </div>
</div>
</div>


<div class="infos-contact">
<div class="infos-contact-container">
    <div class="div-h3">
    <h3>Email</h3>
    </div>

    <div class="div-p">
    <p>infos@unitled.ltd</p>
    </div>
</div>
</div>


<div class="infos-contact1">
<div class="infos-contact-container">
    <div class="div-h3">
    <h3>Social</h3>
    </div>

    <div class="div-p">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-github"></i>
    </div>
    </div>
</div>
    </div>
    </div>
</footer>
</body>
</html>